<div class="my-4 container text-center border shadow bg-danger rounded">
  <h1 class="text-center my-2"> Lo sentimos, página no encontrada </h1>
  <p class="fs-6 my-4 ">Redireccionando...</p>
</div>

<script>

  setTimeout(() => { window.location.assign("/") }, 3000);

</script>