<html>
  <div
    class="container text-center mt-2 border shadow-lg p-3 mb-5 bg-body rounded"
  >
    <div class="border">
    <h1 class="p-1 m-1 text-uppercase">Chat Historia</h2>
    <h5 class="text-center m-2 text-danger" id="userMail">{{this.username}}</h2>
</div>
    
    <a href="/products" class="btn btn-warning my-3 ">Volver al Menu</a>
    <head>
    </head>
    <body>
      <div id="messages" class="p-2 m-2">
        {{#each chats}}
          <p> <li  class="text-uppercase font-weight-bold font-weight-italic"> {{text}} </li></p>
        {{/each}}
      </div>
    </body>
  </div>
</html>