
<div class="container text-center mt-2 border shadow-lg p-3 mb-5 bg-body rounded">
    <h1 class="my-3">Register</h1>
    <form method="POST" onsubmit="" action="/register" id="register">
        <!-- name input -->
        <div class="form-outline mb-4">
            <input class="form-control" type="text" id="name" name="name" placeholder="Name" required/>
        </div>
        <!-- Password input -->
            <div class="form-outline mb-4">
            <input class="form-control" type="password" id="password" name="password" placeholder="Password" required/>
        </div>
            <!-- Email input -->
        <div class="form-outline mb-4">
            <input class="form-control" type="email" id="username" name="username" placeholder="Email" required/>
        </div>
            <!-- address input -->
        <div class="form-outline mb-4">
            <input class="form-control" type="text" id="address" name="address" placeholder="Address" required/>
        </div>

                 <!-- Telefono input -->
        <div class="form-outline mb-4">
            <input class="form-control" type="number" id="phone" name="phone" placeholder="Phone Number" required/>
        </div>
            <!-- imagen input -->
        {{!-- <div class="form-outline mb-4">
            <input class="form-control" accept="image/jpeg" type="file" id="image" name="image" placeholder="Imagen" required/>
        </div> --}}
        <!-- Submit -->
        <button type="submit" value="register" class="btn btn-dark btn-block mb-4">Register</button>
        <!-- redireccionamientos a register/login -->
        <p><a href="/">Already have an account? Log In.</a></p>
    </form>
</div>